@primary-color: #EA1D2C;
@green-color: #4ec353;

:root {
  --matter-primary-rgb: 234, 29, 44; // A mesma cor do @primary-color só que em rgb
  --matter-onprimary-rgb: 255, 255, 255;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: #005aff;

  &:hover {
    text-decoration: underline;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #FFF;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  color: #333;
  margin: 0;
  overflow-y: scroll;
}

.page {
  position: relative;
  padding: 40px 0;
}

.center {
  position: relative;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

button {
  outline: none;
  display: flex !important;
  align-items: center;
  color: white;

  &.big {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px !important;
    text-transform: uppercase;
    padding: 12px 18px !important;
    height: initial !important;
  }
}

button img,
button .icon {
  height: 26px;
  width: 26px;
  margin-right: 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  height: 40vh;
  min-height: 300px;
  width: 100%;
  padding-bottom: 32px;

  .header__cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .header__alignBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
    color: white;
  }

  .header__title {
    font-size: 56px;
    line-height: normal;
    margin: 0 0 8px;
  }

  .header__infos__status {
    font-weight: bold;
    &.opened { color: #4ec353; }
    &.closed { color: #fc3122; }
  }

  a {
    text-decoration: none !important;
    color: white;
  }
}

.navbar {
  background: fade(black, 10%);

  .center {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  li a {
    border: none;
    border-radius: 0;
    padding: 12px 20px 14px;
    font-size: 18px;
    font-weight: 600;
    line-height: initial;
    color: #333;
    text-decoration: none;
    display: block;
    height: initial;

    &.active {
      background-color: fade(@primary-color, 10%);
      font-weight: 600;
      color: @primary-color;
    }
  }
}

.plate {
  background-color: #fff;
  // border: 1px solid transparent;
  border-radius: 5px;
  width: calc(100% / 3);
  padding: 20px;
  cursor: pointer;

  &:hover {
    background-color: darken(white, 6%);
  }

  &:active {
    background-color: darken(white, 12%);
  }

  &.cannotBePurchasedOnline {
    opacity: .8;
    pointer-events: none;
  }

  .plate__image__container {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 58% 0 0 0;
    margin-bottom: 6px;
  }

  .plate__image {
    background-color: #DDD;
    border-radius: 5px;
    object-fit: cover;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 220px;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .plate__title {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 8px;
  }

  .plate__badge {
    background-color: #666;
    border-radius: 5px;
    padding: 2px 10px 4px;
    font-size: 14px;
    color: white;
  }
}

.plate__discount {
  color: #4ec353;

  .plate__price {
    display: inline-block;
    margin-left: 12px;
    font-size: 18px;
    text-decoration: line-through;
    color: #999;
  }
}

.collection {
  margin-bottom: 40px;

  .collection__title {
    font-size: 32px;
  }

  .collection__list {
    margin: 0 -20px;
    padding-bottom: 6px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
  }
}

footer {
  background: #333;
  padding: 40px 0 30px;
  font-size: 18px;
  color: white;

  .footer__title {
    font-size: 42px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  .mapImage {
    width: 100%;
  }

  .footer__columns {
    display: flex;
    justify-content: space-between;

    & > div {
      width: calc((100% / 3) - 25px);
    }

    .footer__column__title {
      border-bottom: 1px solid #f6f6f6;
      padding-bottom: 6px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }

  .footer__infos {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;

    p {
      margin-bottom: 16px;
    }
  }

}

.plate-modal {
  background-color: white;
  box-shadow: 0 3px 8px 1px rgba(0,0,0,0.24);
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: flex-start;
  max-height: 720px;
  min-height: 360px;
  height: 80vh;
  z-index: 2;

  &__container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 100;
  }
  &__backdrop {
    background-color: rgba(0,0,0,.4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__image {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #f4f4f4;
    object-fit: cover;
    display: block;
    height: 100%;
    width: 300px;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 100%;
  }

  &__infos {
    padding: 24px 32px;
    flex: 1;
    overflow-y: auto;
  }

  &__close-button {
    background: white url(../static/close-icon.svg) center no-repeat;
    background-size: 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    border-radius: 50px;
    height: 35px;
    width: 35px;
    position: absolute;
    right: -12px;
    top: -12px;
    z-index: 6;
    cursor: pointer;
    font-size: 30px;
    line-height: 15px;
    padding: 8px 8px 14px;
  }

  &__title {

  }

  &__description {
    margin-top: 6px;
    opacity: .7;
  }

  .plate__price,
  .plate__discount {
    margin-top: 10px;
    font-size: 18px;
  }

  &__choice-list {
    margin: 24px 0;

    &__title {
      display: block;
      margin-bottom: 4px;
    }

    &__tip {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__error {
      margin-bottom: 10px;
      font-size: 16px;
      opacity: .7;
      color: red;
    }

    &__item {
      display: flex !important;
      align-items: center;
      justify-content: flex-start;
      margin: 10px 0;
      
      & > span {
        padding-left: 36px !important;
      }
      
      & > span > span {
        display: block;
      }
      
      &__title {
        font-size: 18px;
      }
      &__description {
        opacity: .7;
      }
      &__price {
        font-weight: 600;
      }
    }
  }


  &__form__observations {
    width: 100%;
    margin: 20px 0;
    display: block;

    strong {
      margin-bottom: 10px;
      display: block;
      font-size: 20px;
    }
    textarea {
      border: none !important;
      padding: 10px 16px !important;
      resize: none;
      border-radius: 5px !important;
    }
  }

  &__buttons {
    padding: 16px 32px 24px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & > div {
      display: flex;
      align-items: center;
    }
  }
  
  &__final-price {
    padding-right: 16px;
  }

  &__form__submit {
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  
  &__repetition {
    display: flex;
    align-items: center;

    button {
      max-width: 36px;
      padding: 0;
      display: block !important;
      width: 36px;
      border: none;
      min-width: 36px;
      border-radius: 50px;
      overflow: hidden;
      font-size: 26px;
    }
    span {
      padding: 0 6px;
    }
  }

  .matter-checkbox span::before,
  .matter-checkbox span::after,
  .matter-radio span::after,
  .matter-radio span::before, {
    top: 4px !important;
    bottom: 0;
    margin: auto 0;
  }
  .matter-checkbox span::after {
    top: -7px !important;
  }
  .matter-radio span::after {
    top: -6px !important;
  }
}}

.filters {
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 15px -10px 20px;
  padding: 18px 0 2px;
  overflow: auto;
  overflow-anchor: auto;
  width: calc(100% + 20px);

  .filters__item {
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 10px;
    border: 1px solid #C9c9c9;

    &::before {
      content: attr(data-label);
      font-size: 14px;
      position: absolute;
      max-width: 100%;
      bottom: calc(100% + 4px);
      left: 0px;
    }

    & > button {
      background: transparent;
      border: none;
      border-radius: 50px;
      position: relative;
      height: 40px;
      min-width: initial;
      overflow: hidden;
      outline: none;
      padding: 8px 20px 10px;
      line-height: 16px;
      font-size: 16px;
      color: #333;
      white-space: nowrap;
      cursor: pointer;
      transition: padding-left 400ms, padding-right 400ms, width 400ms;

      &[disabled] {
        width: 0;
        padding: 0;
      }
    }

    & > span {
      border-right: 1px solid #C9c9c9;
      height: 20px;
      width: 0;

      &:last-child {
        display: none;
      }
    }
  }

  .filters__item.filters__item--filled {
    border-color: @primary-color;

    & > button:not([disabled]) {
      background-color: @primary-color;
      color: white;
    }

    & > span {
      display: none;
    }
  }

  .filters__item[data-label="Limpar"] > button {
    padding: 7px 12px 11px 12px;
    font-size: 28px;
    line-height: 20px;
  }
}


.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 0;
  width: 100%;

  strong {
    font-size: 22px;
    margin-bottom: 16px;
    display: block;
  }
